# build
dist/
.astro/

# deps
node_modules/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.production

# OS
.DS_Store
Thumbs.db
desktop.ini

# editor
.vscode/
.idea/

# wrangler
.wrangler/
.dev.vars
